<h1>Hello!</h1>
<div id="text">
	<p>I am Marta and I am doing a Rails app to sell and buy bikes in Berlin.</p>
	<p>If you'd like to see some other things I've done, you just have to click <a href="https://github.com/martafrr/">here to see my GitHub</a>, <a href="http://marta.bitballoon.com/">here to see my website</a> and <a href="https://www.linkedin.com/in/marta-farre-ribas">here to see my LinkedIn profile</a>.</p>
</div>