<h1>Hello!</h1>
<div id="text">
	<p>I am Marta and I am doing a Rails app to sell and buy bikes in Berlin.</p>
	<br>
	<p>If you'd like to see some other things I've done, you just have to click <a href="https://github.com/martafrr/" target="_blank">here</a> to see my GitHub, <a href="http://marta.bitballoon.com/" target="_blank">here</a> to see my website and <a href="https://www.linkedin.com/in/marta-farre-ribas" target="_blank">here</a> to see my LinkedIn profile.</p>
</div>