<h1>Hello!</h1>
<div id="text">
	<p>I am Marta and I am doing a Rails app to sell and buy bikes in Berlin.</p>
	<p>If you'd like to see some other project I've done, you just have to click <a href="https://github.com/martafrr/">here.</a></p>
</div>