<p>Welcome! The date and time is <%= Time.now %></p>

<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>


<%= image_tag("bike-classic.gif", class: "img-responsive", size: "200") %>
