<div class="panel panel-default">
	<div class="panel-body">
		<p>Thank you. I have received your message and will respond as soon as possible!</p>
	</div><!-- / panel-body -->
</div><!-- / panel -->

<img src="../../images/cutedoginabike.jpg">
