// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	font-family: Helvetica;
	color: grey;
	text-aligment: center;
	padding: 20px;
}

h4, p {
	margin: 5px;
}

#title-product {
	padding-top: 10px;
}


tr {
	font-family: Helvetica;
	text-aligment: center;
}

th {
	padding: 20px;
}

.img-product {
	height: 136.5px;
	width: 225px;
}

.row {
	margin-left: 15px;
}

label {
  margin-bottom: 0px;
}

#btn-create-product {
	text-align: center;
	
}